In [15]:
import pandas as pd

In [16]:
df = pd.read_csv(r"G:/iti/Python/fraud_detection/data/processed/customer_features.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414032 entries, 0 to 414031
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   nameOrig          414032 non-null  object
 1   txn_count         414032 non-null  int64
 2   total_amount      414032 non-null  float64
 3   avg_amount        414032 non-null  float64
 4   max_amount        414032 non-null  float64
 5   std_amount        41 non-null      float64
 6   active_days       414032 non-null  int64
 7   txn_per_day       414032 non-null  float64
 8   rolling_mean_24h  414032 non-null  float64
 9   rolling_std_24h   41 non-null      float64
dtypes: float64(7), int64(2), object(1)
memory usage: 31.6+ MB

In [24]:
col = 'nameOrig'
col = col.strip()

In [25]:
df[col].nunique()

414032

In [26]:
df[col].unique()

array(['C1000008111', 'C1000008617', 'C1000014489', ..., 'C999985432',
       'C999988718', 'C999992133'], dtype=object)

In [28]:
df.shape[0] - df[col].nunique()

0

In [17]:
df2 = pd.read_csv(r"G:/iti/Python/fraud_detection/customer_risk_summary1.csv")

In [63]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414032 entries, 0 to 414031
Data columns (total 20 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   nameOrig            414032 non-null  object
 1   txn_count           414032 non-null  int64
 2   total_amount        414032 non-null  float64
 3   avg_amount          414032 non-null  float64
 4   max_amount          414032 non-null  float64
 5   std_amount          414032 non-null  float64
 6   active_days         414032 non-null  int64
 7   txn_per_day         414032 non-null  float64
 8   rolling_mean_24h    414032 non-null  float64
 9   rolling_std_24h     414032 non-null  float64
 10  z_txn_count         414032 non-null  float64
 11  z_total_amount      414032 non-null  float64
 12  z_avg_amount        414032 non-null  float64
 13  z_max_amount        414032 non-null  float64
 14  z_std_amount        414032 non-null  float64
 15  z_txn_per_day       414032 non-null  float64
 16  z_rolling_mean_24h  414032 non-null  float64
 17  z_rolling_std_24h   414032 non-null  float64
 18  risk_score          414032 non-null  float64
 19  risk_band           414032 non-null  object
dtypes: float64(16), int64(2), object(2)
memory usage: 63.2+ MB

In [64]:
col = 'risk_score  '
col = col.strip()

In [65]:
df2[col].nunique()

385822

In [66]:
df2[col].unique()

array([0.09143134, 0.29071992, 0.10153057, ..., 0.04639868, 0.14196104,
       0.09821742])

In [82]:
(df2[(df2[col] <0.01)][col]).count()

np.int64(6496)

In [46]:
df2[col].value_counts()

risk_band
Low         411040
Critical      1420
Medium        1056
High           516
Name: count, dtype: int64

In [41]:
df2.shape[0] - df2[col].nunique()

414028

In [47]:
df3 = pd.read_csv(r"G:/iti/Python/fraud_detection/data/raw/reduced_paysim.csv")

In [48]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 416234 entries, 0 to 416233
Data columns (total 11 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   step            416234 non-null  int64
 1   type            416234 non-null  object
 2   amount          416234 non-null  float64
 3   nameOrig        416234 non-null  object
 4   oldbalanceOrg   416234 non-null  float64
 5   newbalanceOrig  416234 non-null  float64
 6   nameDest        416234 non-null  object
 7   oldbalanceDest  416234 non-null  float64
 8   newbalanceDest  416234 non-null  float64
 9   isFraud         416234 non-null  int64
 10  isFlaggedFraud  416234 non-null  int64
dtypes: float64(5), int64(3), object(3)
memory usage: 34.9+ MB

In [49]:
df3['type'].value_counts()

type
PAYMENT     280659
CASH_IN      67343
CASH_OUT     58968
TRANSFER      8341
DEBIT          923
Name: count, dtype: int64

In [14]:
destination = r'../reports/'
filename = 'hello.txt'

path = destination + filename
print(type(path))

<class 'str'>

In [11]:
with open(path, "w") as f:
            f.write("Bank Transaction Risk & Anomaly Analyzer Report\n")
            f.write("=" * 50 + "\n\n")

In [ ]:
def _compute_z_scores(self, df: pd.DataFrame) -> pd.DataFrame:
        z_values = zscore(df[self.risk_features], nan_policy = 'omit')

        z_df = pd.DataFrame(
            np.abs(z_values),
            columns = [f'z_{c}' for c in self.risk_features],
            index = df.index
        )

In [18]:
from scipy.stats import zscore
import numpy as np

In [21]:
risk_features = [
        'txn_count',
        'total_amount', 
        'avg_amount',
        'max_amount',
        'std_amount',
        'txn_per_day',
        'rolling_mean_24h',
        'rolling_std_24h'
    ]

In [23]:
z_values = zscore(df[risk_features], nan_policy = 'omit')
print(z_values)

[[-0.00995168 -0.17790201 -0.17789008 ... -0.00219786 -0.17789008
          nan]
 [-0.00995168  0.57646184  0.57648148 ... -0.00219786  0.57648148
          nan]
 [-0.00995168 -0.19810038 -0.19808865 ... -0.00219786 -0.19808865
          nan]
 ...
 [-0.00995168 -0.08783717 -0.08782431 ... -0.00219786 -0.08782431
          nan]
 [-0.00995168  0.27894563  0.27896223 ... -0.00219786  0.27896223
          nan]
 [-0.00995168 -0.19147411 -0.19146231 ... -0.00219786 -0.19146231
          nan]]

In [28]:
df[risk_features]

,txn_count,total_amount,avg_amount,max_amount,std_amount,txn_per_day,rolling_mean_24h,rolling_std_24h
0,1,13925.55,13925.55,13925.55,NaN,1.0,13925.55,NaN
1,1,317875.53,317875.53,317875.53,NaN,1.0,317875.53,NaN
2,1,5787.18,5787.18,5787.18,NaN,1.0,5787.18,NaN
3,1,17206.98,17206.98,17206.98,NaN,1.0,17206.98,NaN
4,1,11820.97,11820.97,11820.97,NaN,1.0,11820.97,NaN
...,...,...,...,...,...,...,...,...
414027,1,9601.79,9601.79,9601.79,NaN,1.0,9601.79,NaN
414028,1,10675.90,10675.90,10675.90,NaN,1.0,10675.90,NaN
414029,1,50214.68,50214.68,50214.68,NaN,1.0,50214.68,NaN
414030,1,197999.63,197999.63,197999.63,NaN,1.0,197999.63,NaN
414031,1,8457.05,8457.05,8457.05,NaN,1.0,8457.05,NaN

In [29]:
z_df = pd.DataFrame(
        np.abs(z_values),
        columns = [f'z_{c}' for c in risk_features],
        index = df.index)

z_df.head(5)

,z_txn_count,z_total_amount,z_avg_amount,z_max_amount,z_std_amount,z_txn_per_day,z_rolling_mean_24h,z_rolling_std_24h
0,0.009952,0.177902,0.177890,0.177899,NaN,0.002198,0.177890,NaN
1,0.009952,0.576462,0.576481,0.576465,NaN,0.002198,0.576481,NaN
2,0.009952,0.198100,0.198089,0.198097,NaN,0.002198,0.198089,NaN
3,0.009952,0.169758,0.169746,0.169755,NaN,0.002198,0.169746,NaN
4,0.009952,0.183125,0.183113,0.183122,NaN,0.002198,0.183113,NaN

In [27]:
z_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414032 entries, 0 to 414031
Data columns (total 8 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   z_txn_count         414032 non-null  float64
 1   z_total_amount      414032 non-null  float64
 2   z_avg_amount        414032 non-null  float64
 3   z_max_amount        414032 non-null  float64
 4   z_std_amount        0 non-null       float64
 5   z_txn_per_day       414032 non-null  float64
 6   z_rolling_mean_24h  414032 non-null  float64
 7   z_rolling_std_24h   0 non-null       float64
dtypes: float64(8)
memory usage: 25.3 MB

In [32]:
feat = pd.read_csv(r'G:\iti\Python\fraud_detection\git\data\processed\customer_features2.csv')

In [33]:
feat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414032 entries, 0 to 414031
Data columns (total 12 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   nameOrig              414032 non-null  object
 1   tsc_count             414032 non-null  int64
 2   total_amount          414032 non-null  float64
 3   avg_amount            414032 non-null  float64
 4   max_amount            414032 non-null  float64
 5   std_amount            41 non-null      float64
 6   active_days           414032 non-null  int64
 7   tsc_per_day           414032 non-null  float64
 8   rolling_mean_24h      414032 non-null  float64
 9   rolling_std_24h       41 non-null      float64
 10  suspicious_tsc_count  414032 non-null  int64
 11  suspicious_tx_ratio   414032 non-null  float64
dtypes: float64(8), int64(3), object(1)
memory usage: 37.9+ MB

In [35]:
feat('cloumns')

TypeError: 'DataFrame' object is not callable